*.sublime-project
*.sublime-workspace
scripts/.screenrc
run_tests.log
host-syslog.log
scripts/test-def.conf
.tox
.idea
*.pyc
*.coverage
tests/integration/Reddwarf_Integration_Tests.egg-info/*
apidocs/target
static/
templates/
rst/devguide/_build
apidocs/dev-guide/glossary.txt
xsd/management-summarized.html
xsd/normalized/
.DS_Store
_build
